#body{
    background: linear-gradient(70deg,rgb(178, 116, 210),rgb(99, 10, 154));
}
#box{
    border-radius: 23px;
    border: 2px transparent;
    height: auto;
    padding: 1px; 
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: aliceblue;
    
    
}
#numbering{
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.432);
    margin-top: 10px;
    margin-inline: 20%;
}

#question{
    font-size:20px;
    text-align: center;
    margin: 8px;
    font-weight: 150;
    font-family: Sans-serif;
    word-wrap: break-word;
}
#qAns{
    width: 78%;
    border: 2px transparent;
    height: 178px;
    padding: 8px;
    margin: auto;
    
}
.answers{
    border-radius: 100px ;
    border-color: rgba(0, 0, 0, 0.402);
    width: 500px;
    height: 38px;
    text-align: center;
    margin-top: 4px;
    background-color: transparent;
   
}
#next{
    border-radius: 100px;
    margin-block: 12px;
    width: 300px;
    border-color: transparent;
    margin-inline: 180px;
    background-color: rgb(28, 174, 227);
}

/* the css of result section */

#resultDiv {
    display:none;
    border-radius: 23px;
    border: 2px transparent;
    height: auto;
    padding: 1px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: aliceblue;
}

#heading {
    text-align: center;
    border-bottom: 4px solid rgba(0, 0, 0, 0.432);
    margin-top: 10px;
    margin-inline: 20%;
    border-color: rgb(223, 226, 62);
}

#scoreHead {
    font-size: 20px;
    text-align: center;
    margin: 8px;
    font-weight: 150;
    font-family: Sans-serif;
    word-wrap: break-word;
}

.resulthead {
    font-size: xx-large;
    text-align: center;
    margin: 8px;
}

#result {
    border: 4px solid rgb(223, 226, 62);
    margin-inline: 10%;
    margin-bottom: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statusresult {

    font-size: 25px;
    text-align: center;
    margin: 8px;
    font-weight: 150;
    font-family: Sans-serif;
    word-wrap: break-word;
    color: #ff006e;
    font-weight: bold;
}
#status{
    margin-bottom: 17px;
}





